.showcard {
  margin-right: 0;
  color: #e5e5e5;
  ul {
    padding-left: 0;
    list-style: none;
    font-size: 0.8em;
  }
  h6 {
    margin-top: 15px;
  }
  span {
    margin-right: 3.5px;
  }
}

@media (min-width: 500px) {
  .showcard {
    margin-bottom: 50px;
  }
}
