nav {
  a {
    position: absolute;
    top: 25px;
    z-index: 1;
  }
  a:hover {
    color: #650d1c;
    i {
      color: #650d1c;
    }
  }
  .logo {
    left: 20px;
    color: #848484;
    font-size: 1.1em;
  }
  .search-icon {
    right: 20px;
    i {
      font-size: 1.2em;
      color: #848484;
    }
  }
}

@media (min-width: 500px) {
  .logo {
    left: 50px;
  }
  .search-icon {
    right: 50px;
  }
}
