nav {
  a {
    position: absolute;
    top: 25px;
  }
  .logo {
    left: 50px;
    color: #848484;
    font-size: 1.1em;
  }
  .home-icon {
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
    text-align: center;
    z-index: 1;
    i {
      font-size: 1.6em;
      color: #e5e5e5;
    }
  }
  .search-icon {
    z-index: 1;
    right: 50px;
    i {
      font-size: 1.2em;
      color: #848484;
    }
  }
}
