.single-show-header {
  background-size: cover;
  background-color: black;
  opacity: 0.3;
  min-height: 475px;
  background-position: center;
}

.seasons-episodes-container {
  margin-top: 100px;
  min-height: 300px;
  margin-bottom: 70px;
  select {
    height: 40px;
    min-width: 170px;
    border: 1px solid #414141;
    background-color: black;
    color: #e5e5e5;
    margin-left: auto;
    display: block;
    margin-bottom: 30px;
    font-size: 0.8em;
  }
}

.underline {
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  span {
    margin: 25px 10px;
    font-size: 0.9em;
  }
}

.episodes-container {
  a {
    width: 100%;
    position: relative;
  }
  section {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      span {
        color: #aeaeae;
        font-size: 0.8em;
      }
    }
  }
}

.single-episode-image {
  background-size: cover;
  background-position: top;
  min-height: 250px;
  opacity: 0.7;
}

.cast-name {
  color: #e5e5e5;
}

.single-episodes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // box-shadow: 0 5px 8px -4px #565656;
  padding: 5px 10px;
  margin-bottom: 20px;
  color: #e5e5e5;
  background-color: #101010;
  p {
    width: 100%;
  }
  .allign {
    text-align: left;
  }
  .image-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
      font-size: 0.8em;
    }
  }
}

.cast-image {
  border-radius: 50%;
  overflow: hidden;
  max-width: 60px;
  max-height: 60px;
  img {
    max-width: 60px;
  }
}

.show-introduction {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 140px;
  margin: 0 50px;
  color: #e5e5e5;
  margin-bottom: 20px;
  img {
    margin: auto;
    display: block;
    max-width: 280px;
    position: relative;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 50px;
  }
  .minimum-height {
    max-height: initial;
    margin-bottom: 50px;
  }
}

.single-show-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  section {
    width: 100%;
  }
}

.character-name {
  color: darkgray;
}

.single-show-header {
  padding-bottom: 0;
}

.show-info-container {
  p {
    width: 100%;
    min-width: 350px;
  }
}

#single-show-overlay {
  position: absolute;
  right: 0;
  left: 0;
}
.show-introduction {
  padding-top: 150px;
  position: relative;
  top: auto;
}

@media (min-width: 980px) {
  .single-show-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .underline {
    width: 420px;
  }
  .episodes-container {
    a {
      width: 33.3% !important;
    }
  }
}

@media (min-width: 750px) {
  .single-show-container {
    margin-top: 70px;
  }
  #single-show-overlay {
    position: initial;
    right: auto;
    left: auto;
  }
  .show-introduction {
    flex-direction: row;
    margin-bottom: 90px;
    padding-top: 0;
    position: absolute;
    top: 150px;
    img {
      margin-right: 50px;
      display: initial;
    }
    .minimum-height {
      max-height: 330px;
    }
  }
  .display-flex.single-episodes {
    flex-direction: row;
    p {
      width: 25% !important;
    }
    .allign {
      text-align: right;
    }
  }
  .episodes-container {
    a {
      width: 50%;
    }
  }
}

@media (min-width: 500px) {
  .display-flex.single-episodes {
    p {
      width: 50%;
    }
  }
  .overlay-section {
    top: 120px;
    h2 {
      font-size: 1.1em;
    }
  }
}
