.associated-information {
  margin: 70px 50px 50px;
  h5 {
    margin-bottom: 30px;
  }
}

.single-cast {
  margin: 0;
}

.breadcrumb {
  padding-top: 30px;
  a {
    color: white;
  }
  span {
    margin: 0 10px;
  }
}

.cast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .associate-cast {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 210px;
    margin: 0 0 15px 0;
    transition: 0.2s;
    opacity: 0.7;
    h5 {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 1em;
      color: white;
    }
  }
  .associate-cast:hover {
    h5 {
      display: block;
    }
    background-color: black;
    cursor: pointer;
  }
  .associate-cast:hover {
    opacity: 0.9;
  }
}

@media (min-width: 500px) {
  .associated-information {
    margin: 70px 75px 50px;
    .cast-container {
      justify-content: space-between;
    }
  }
}
