.display-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  a {
    max-width: 210px;
  }
}

.centered-header {
  text-align: center;
  h1 {
    padding-top: 30px;
  }
  h3 {
    text-align: left;
  }
  ul {
    margin-top: 35px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
  }
}

.home-icon {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  i {
    font-size: 1.6em;
  }
}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  i {
    font-size: 1.6em;
  }
  small {
    display: block;
  }
}

#navigation-arrows__right {
  text-align: right;
}

.container {
  position: relative;
  section {
    position: absolute;
    top: -70px;
    justify-content: space-between;
  }
  h4 {
    margin-bottom: 5px;
  }
}

.single-episodes {
  justify-content: space-between;
  box-shadow: 0 5px 8px -4px lightgrey;
  padding: 0 20px;
  margin-bottom: 20px;
  p {
    width: 100%;
  }
  .allign {
    text-align: left;
  }
}

.cast-image {
  border-radius: 50%;
  overflow: hidden;
  max-width: 60px;
  max-height: 60px;
  img {
    max-width: 60px;
  }
}

.show-introduction {
  display: flex;
  flex-direction: column;
  img {
    margin: auto;
    display: block;
    max-width: 280px;
    position: relative;
  }
}

.single-show-container {
  display: flex;
  flex-direction: column;
  section {
    width: 100%;
  }
}

.character-name {
  color: darkgray;
}

.showcard {
  margin-right: 0;
  ul {
    padding-left: 0;
    list-style: none;
    font-size: 0.8em;
  }
}

.single-show-header {
  padding-bottom: 0;
}

.show-info-container {
  p {
    width: 100%;
    min-width: 350px;
  }
}

.show-introduction {
  margin-bottom: 20px;
  p {
    margin-bottom: 50px;
  }
  .minimum-height {
    max-height: initial;
    margin-bottom: 50px;
  }
}

@media (min-width: 980px) {
  .single-show-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 750px) {
  .show-introduction {
    flex-direction: row;
    margin-bottom: 90px;
    img {
      margin-right: 50px;
      display: initial;
    }
    .minimum-height {
      max-height: 330px;
    }
  }
  .display-flex.single-episodes {
    flex-direction: row;
    p {
      width: 25% !important;
    }
    .allign {
      text-align: right;
    }
  }
}

@media (min-width: 500px) {
  .display-flex {
    flex-direction: row;
  }
  .showcard {
    margin-bottom: 50px;
  }
  .display-flex.single-episodes {
    p {
      width: 50%;
    }
  }
}
