.display-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 50px;
}

.showcard {
  margin-right: 0;
}

.container {
  position: relative;
  section {
    position: absolute;
    top: -70px;
    justify-content: space-between;
  }
}

@media (min-width: 500px) {
  .display-flex {
    flex-direction: row;
  }
  .showcard {
    margin-bottom: 50px;
  }
}
